version: '2'
services:
  app:
    build:
      context: ./app
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./app:/timecapsule/
    ports:
      - "3100:3100"
    depends_on: [tc_database]
  tc_database:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - timecapsule-mysqldata:/var/lib/timecapsule-mysql

volumes:
  timecapsule-mysqldata:
    driver: "local"