version: '2'
services:
  workspace:
    build:
      context: .
    volumes:
      - ./time-capsule:/usr/app
      - /usr/app/node_modules
    ports:
      - "3100:3100"
    depends_on: [mysql]
  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=time-capsule
    volumes:
      - mysqldata:/var/lib/mysql

volumes:
  mysqldata:
    driver: "local"